.primaryhead {
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.ol {
    display: flex;
    align-items: center;
}

/* header related style*/
.headerstyle {
    background-color: #FFF8F3;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 35px 19px 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.span {
    color: #FD6E0A;
}

/* style for banner */

.banner {
    padding: 230px 0px 0px 250px;
    display: flex;
    align-items: center;

}

picture {
    height: 584px;
    width: 676px;
}

.para head {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.para {
    padding-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Design of main part */

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}

.title-class {
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text {

    color: #757575;
    text-align: center;
    font size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    max-width: 1140px;
    margin: auto;
}

main section{
    margin-top: 130px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info-title {
    text-align: center;
}

.about-info-descriptaion {
    text-align: center;

}

.what-i-do {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#paragraph-for-what-i-do {
    padding: 30px 130px;
}

/* skill section */
.all-skill-style {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skill-per-div {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.edu-job-containar{
    
}

.education-details{
    border-bottom: solid gray;
}
.job-details{
    border-bottom: solid gray;
}

.Download-cv{
    margin-top: 50px;
}

/* footer style */

.footer{
    display: flex;
    background-color: #FFF8F3;
    gap: 100px;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-column{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 50%;
    
}
.social-links a{
    margin-right: 25px;
}

.contact-form input[type="text"],input[type="email"], textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: #FFF;
    border: none;
    width: 100%;
}
